.input-data-body {
    display: flex;
    max-height: 120px;
    transition: max-height 0.8s ease;
}

.body-close {
    max-height: 0;
    overflow: hidden;
}

.input-data-show {
    flex: 3;
}

.input-data-handle {
    flex: 5;
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    align-items: center;
    
}

.input-data-show-box{
    flex: 2;
}  

.hidden-btn {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.choosed {
    background-color: rgb(195, 195, 195);
}
