body {
    margin: 0 auto;
    padding: 0;
    /* margin: 0;
    background-image: url("image/background_img.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    backdrop-filter: blur(2px);
}

#root {
    max-width: 1000px;
    margin: 0px auto;
}

#home-page {
    width: 100%;
    height: 100vh;
    display: flex;
}
/* #body-main {
    justify-content: center;
    display: flex;
} */
button {
    padding: 8px 25px;
    border: 1px solid transparent;
    background-color: transparent;
}


.input-block {
    padding: 5px;
    margin-left: 5px;
}


/* ----------------sidebar------------------- */
.sidebar {
    /* flex: 3; */
    margin: 10px 5px 0px 5px;
    max-width: 22%;
    transition: max-width 0.3s ease;
}

.sidebar-close {
    max-width: 0;
    overflow: hidden;
}

.year-btn {
    margin: 1px;
}

.close-sidebar {
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid;
}

/* ------------Component------------- */
/* 共通----ボタン*/
.btn-icon {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;

}
.btn-icon span {
    transition: 0.3s ease;
    cursor: pointer;
    border-radius: 2px;
    
}
.btn-icon span:hover {
    background-color: #000000;
    color: #ffffff;
}
/* 共通----ボタン逆転 */
.icon {
    display: flex;
    justify-content: center;
    margin: 1px 2px 1px 2px;
    transition: transform 0.3s ease;
}

.rotate {
    transform: rotate(180deg);
}

/* month input */
.months-btn-area {
    max-height: 200px;
    overflow: auto;
    padding-right: 10px;
}
.month-btn-body {
    display: flex;
}

.btn-month {
    border-top: 0.5px solid #e3e3e3;
}

.btn-month:hover {
    background-color: #e6e6e6;
}

/* ------------------------------------ */
#sidebar-main {
    margin: 1px;
    width: 200px;
    height: 85%;

}

#year-btn-area {
    overflow: scroll;
    scroll-behavior: auto;
    height: 100%;
}

#main {
    flex: 7;
}

.border-1p {
    border: #000000 1px solid;
    margin: 1px;
    padding: 1px;
}

.font-bold {
    font-weight: bold;
    font-size: 17px;
}

.display-not-show {
    display: none;
}

.show-detail {
    height: 30%;
}

.show-table {
    height: 70%;
}
